#cbnr {
	border: 1px solid #ccc;
	border-radius: 3px; 
	width: 220px;
	padding: 10px; 
	margin: 20px 0 20px 20px; 
	box-shadow: 0 2px 0 #f2f2f2 inset, 0 1px 1px #d0d0d0;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}	
#cbnr .cbnr_row {
	width: 100%; 
	border-bottom: 1px solid #ccc; 
	clear: both; 
	line-height: 1em; 
	height: 2em;
	box-shadow: 0 -1px 0 #fff inset;
}
#cbnr .cbnr_row div {
	padding: 5px 10px;
}
#cbnr .cnbr_flag {
	width: 16px;
	float: left; 
}
#cbnr .cnbr_flag img {
	border: 0 none;
}
#cbnr .cbnr_currency {
	font-weight: bold;
	float: left; 
}
#cbnr .cbnr_value {
	float: right;
}
#cbnr h4 {
	font-weight: bold; 
	font-size: 1.4em; 
	margin-bottom: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#cbnr .cbnr_credits {
	font-size: 0.6em;
	clear: both;
	display: block;
	text-align: center;
	margin-top: 10px;
}
